.projects {
  width: 90%;
  height: 100%;

  @include flex(center, flex-start, column, 0);
  row-gap: 0;
  flex-wrap: wrap;

  @include media ($mobileXl) {
    width: 100%;
  }


  div {
    @include flex(center, flex-start, row, 0);
    width: 100%;
    overflow: hidden;

    .cardProject {
      position: relative;
      width: 30vw;
      height: 30vh;
      cursor: pointer;
      @include flex(center, center, row, 0);
      overflow: hidden;

      transition: transform 1s;

      &:hover {

        img {
          filter: none;
          background: rgba(0, 0, 0, 0.428);
        }
      }




      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: grayscale(100%);
        transition: filter .6s ease-in-out;
      }
    }
  }
}

.infoProject {
  position: absolute;
  z-index: 30;
  background: $background;
  width: 100%;
  height: 99vh;
  @include flex(none, center, row-reverse, 0);
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @include media ($mobileXl) {
    flex-direction: column;
  }

  #close {
    width: 3vw;
    position: absolute;
    right: 0;
    top: 2rem;
    cursor: pointer;

    @include media ($md) {
      width: 6vw;
      right: 1rem;
    }

    @include media ($mobileXl) {
      width: 10vw;
      top: 6rem;
    }
  }

  #leftInfo {
    @include flex(center, center, column, 2rem);
    border-left: 1px solid rgba(151, 151, 151, 0.587);
    height: 90%;
    width: 33%;

    @include media ($md) {
      width: 40%;
    }

    @include media ($mobileXl) {
      border: none;
      width: 95%;
      height: auto;
      margin-top: 20%;
    }




    h1 {
      text-align: center;

      @include media ($mobileXl) {
        font-size: 24px
      }
    }

    #description {
      display: block;
      width: 70%;
      text-align: center;

      @include media ($mobileXl) {

        font-size: 16px
      }
    }

    .techsInfo {
      width: 100%;
      margin-top: 2.5rem;
      @include flex (center, center, row, 1rem);

      @include media ($mobileXl) {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }


      img {
        width: 2.5vw;

        @include media($md) {
          width: 5vw
        }

        @include media ($mobileXl) {
          width: 8vw;
        }
      }
    }
  }

  #c-carrousel {
    @include flex(center, center, column, 0);
    width: 100%;
    height: 100%;

    @include media ($md) {
      width: 60%;
    }

    @include media ($mobileXl) {
      width: 100%;
    }

    #screenDesktop {
      position: relative;
      top: 2rem;
      height: 50%;

      @include media ($mobileXl) {
        height: auto;
        margin: auto;
        display: block;
        width: 95%;
        top: 0;
      }

      @include media ($md) {
        height: auto;
        width: 80%;
      }
    }

    div {
      margin-top: 1rem;
      @include flex(space-around, center, row, 0);
      height: 50%;
      width: 80%;

      @include media ($mobileXl) {
        align-items: flex-start;
      }

      .screenMobile {
        height: 70%;

        @include media ($md) {
          height: auto;
          width: 30%;
        }

        @include media ($mobileXl) {
          height: auto;
          width: 30%;
          top: 0;
        }
      }
    }
  }

  #linkRepo {
    position: absolute;
    right: 0;
    top: 10%;

    @include media ($md) {
      right: 1rem;
    }

    @include media ($mobileXl) {
      top: 12rem;

    }

    img {
      width: 3vw;

      @include media ($md) {
        width: 6vw;

      }

      @include media ($mobileXl) {
        width: 10vw;

      }
    }


  }


}

.projectOut {
  animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}